﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    About
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
 <link href="style1.css" rel="stylesheet" type = "img/jpg" />
    <link href="img/About.jpg" rel ="apple-touch-startup-image"/>
    <style type="text/css" >
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 62%;
            background-color: rgb(225,225,225);
            background-image: url('img/wall.jpg');
            border-radius: 5px 5px 5px 5px;
            float: left;
            margin-top: 0px;
            margin-bottom: 08px;
            min-height: 536px;
        }
        </style>

</asp:Content>
<asp:Content ID="Content3"  ContentPlaceHolderID="content" Runat="Server" >

      


   

      


    <table cellpadding="0" cellspacing="0" border="0" style="border=none;" class="auto-style1">
       

      


    
        <tr>
            <td class="auto-style2">
                <p style="font-size:50px; padding-top:60px; padding-left:100px; color:darkgreen;font-family:'Trebuchet MS';" >About </p><br /><br /><br /><br /><br /><br />
                
               <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                   This site helps the people of the apartment to </p>
                <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                    view their
                   water bill according to the readings provided by them.    <br /> </p>
                <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                    &nbsp;</p>
                <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                   Each people can login or register to their page and can 
                   view the details of the water bill.   <br /></p>
                <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                    &nbsp;</p>
                <p style="font-size:25px; padding-left:100px; color:wheat;font-family:'Trebuchet MS';" >
                   Also an alert message or email will send to the end user.</p>
                </td>
            <td> <img style="padding-right:100px; padding-top:120px; height:270px; width:300px; border-radius:10px 10px 10px 10px;" src="img/about.jpg" /></td>
                
           
        </tr>
     
    </table>
   
      


</asp:Content>

