﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    Contact
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <link href="style1.css" rel="stylesheet" type = "img/jpg" />
    
    <style type="text/css">
        .auto-style1 {
            width: 70%;
            height: 245px;
        }
        .auto-style2 {
            width: 203px;
        }
        .auto-style3 {
            height: 148px;
            width: 178px;
        }
        .auto-style4 {
            width: 203px;
            height: 148px;
        }
        .auto-style5 {
            height: 148px;
            width: 80px;
        }
        .auto-style6 {
            width: 80px;
        }
        .auto-style9 {
            width: 178px;
        }
        .auto-style10 {
            width: 201px;
            height: 148px;
        }
        .auto-style11 {
            width: 201px;
        }
    </style>

</asp:Content>
<asp:Content ID="Content3"  ContentPlaceHolderID="content" Runat="Server" >

      <h1 class="contact" style="position:center;font-family:'Trebuchet MS';padding-top:30px ;padding-left:650px; color:whitesmoke; font-size:50px;">Contact</h1>
    
        <br />
    <p style="position:center;font-family:'Trebuchet MS' ;padding-left:600px; color:lightseagreen; font-size:30px;">Get in Touch with us.</p>


    <br />
    <br />
    <br />
    <br />
        
       <br />
      <table align="center" cellpadding="0" cellspacing="1" class="auto-style1">
          <tr>
              <td class="auto-style3"><img style="height:101px; width:105px;" src="img/email.png" /></td>
              <td class="auto-style4"><img style="height:101px; width:105px;" src="img/Facebook.png" /></td>
              <td class="auto-style10"><img style="height:101px; width:105px;" src="img/Instagram.jpg" /></td>
              <td class="auto-style5"><img style="height:101px; width:105px;" src="img/whatsapp.png" /></td>
          </tr>
          <tr>
              <td class="auto-style9" style="color:aliceblue; font-family:'Trebuchet MS';font-size:20px;">faham@gmail.com</td>
              <td class="auto-style2" style="color:aliceblue; font-family:'Trebuchet MS';font-size:20px;">Facebook/FahamTechies</td>
              <td class="auto-style11"style="color:aliceblue; font-family:'Trebuchet MS';font-size:20px;">@faham_Pro</td>
              <td class="auto-style6" style="color:aliceblue; font-family:'Trebuchet MS';font-size:20px;">9876543210</td>
          </tr>
      </table>
      <br />
      <br />
      <br />
      <br />
         
   
      


</asp:Content>

