﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="hom.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    Home
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    
    <link href="style1.css" rel="stylesheet" />
    <style type="text/css">
        .auto-style1 {
            width: 50%;
            height: 50px;
        }
        .auto-style2 {
            width: 246px
        }
    </style>
    </asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">
    
<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"</li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/apartment.jpg" alt="Faham logo" class="img-responsive" style="width:1200px; padding-top:10px; height:200px;">
      </div>

      <div class="item">
        <img src="img/watermeter.jpg" alt="Meter1" class="img-responsive" style="width:1200px;padding-top:10px; height:200px;">
      </div>
    
      <div class="item">
        <img src="img/bootthree.jpg" alt="Meter2" class="img-responsive" style="width:1200px;padding-top:10px; height:200px; ">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
   

   
   

    
   

   

   

   

    <br />
    <table align="center" cellpadding="0" cellspacing="0" class="auto-style1">
        <tr>
            <td class="auto-style2" style="font-family:'Trebuchet MS';font-size:50px;color:antiquewhite"><br />Welcome
                <br />
                Residents</td>
            <td>
                <asp:Button  ID="Button1" class="tton" runat="server" OnClick="Button1_Click" Text="SIGN IN" /></td>
        </tr>
    </table>
   

   
   

    
   

   

   

   

</asp:Content>












