﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="log2.aspx.cs" Inherits="log2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
Faham-signin
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <link href="style.css" rel="stylesheet" />
    <link href="style1.css" rel="stylesheet" />
</asp:Content>


<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">

    
  <div class="form">           
        <div>   
          <h1>Welcome Back!</h1>          
            <div class="field-wrap">
                
                <asp:Label ID="Label1" runat="server" ForeColor="#939393" Text="Email"></asp:Label>
            <input type="text" runat="server" required id="emailtxt"/>
          </div>          
          <div >
              <asp:Label ID="Label2" runat="server" ForeColor="#939393" Text="Password"></asp:Label>
            <input type="password" runat="server" required="required"  id="password"/>
          </div>       
      
            <div class="men">
                <ul>
                    
                    <li ><a href="registration1.aspx">Sign Up</a></li>
                    <li><a href="#">Forget password?</a></li>
                </ul>
            </div>
           <asp:Label CssClass="abel" ID="Label3"  runat="server"  Text="" Font-Bold="True" ForeColor="Red"></asp:Label>

          <asp:Button ID="logi" runat="server" CssClass="button button-block"  Text="Log in" OnClick="login1_Click" Height="82px" style="margin-top: 15px" />   
           
        </div>     
</div>
   
  

</asp:Content>


