﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="manager.aspx.cs" Inherits="manager" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <link href="style1.css" rel="stylesheet" />

    <style type="text/css">
        .auto-style1 {
            margin-left: 425px;
            margin-top: 75px;
        }
    </style>

    </asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">
       <asp:Button  ID="Button1" class="signout" runat="server" OnClick="Button1_Click" Text="SIGN OUT" />

       <br />
       <br />
       <p style="align-content:center; font-family:'Trebuchet MS'; font-size:50px ; color:aqua">Welcome Admin
           <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" BackColor="White" BorderColor="#999999" BorderStyle="Solid" BorderWidth="1px" CellPadding="3" CssClass="auto-style1" DataKeyNames="dev_id" DataSourceID="SqlDataSource1" ForeColor="Black" GridLines="Vertical" OnSelectedIndexChanged="GridView1_SelectedIndexChanged2" Width="672px">
               <AlternatingRowStyle BackColor="#CCCCCC" />
               <Columns>
                   <asp:BoundField DataField="user_id" HeaderText="user_id" SortExpression="user_id" />
                   <asp:BoundField DataField="value" HeaderText="value" SortExpression="value" />
                   <asp:BoundField DataField="dev_id" HeaderText="dev_id" ReadOnly="True" SortExpression="dev_id" />
                   <asp:BoundField DataField="mob" HeaderText="mob" SortExpression="mob" />
               </Columns>
               <FooterStyle BackColor="#CCCCCC" />
               <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
               <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
               <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
               <SortedAscendingCellStyle BackColor="#F1F1F1" />
               <SortedAscendingHeaderStyle BackColor="Gray" />
               <SortedDescendingCellStyle BackColor="#CAC9C9" />
               <SortedDescendingHeaderStyle BackColor="#383838" />
           </asp:GridView>
           <asp:SqlDataSource ID="SqlDataSource2" runat="server"></asp:SqlDataSource>
           <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:Faham_DatabaseConnectionString %>" SelectCommand="SELECT [user_id], [value], [dev_id], [mob] FROM [Faham]"></asp:SqlDataSource>
    </p>


<asp:SqlDataSource ID="faham" runat="server" ConnectionString="<%$ ConnectionStrings:Faham_DatabaseConnectionString %>" SelectCommand="SELECT user_id, dev_id, email, value, [value]*5 as Bill_amount FROM faham"></asp:SqlDataSource>


</asp:Content>

