﻿body, div,ul, li, h2, form,p{
    padding: 0;
    margin: 0;
}

.abel{
    padding-left:150px;
    margin-top:10px;
   
}
.contact {
    position:center;
   
}
body {
    
    background-color:rgb(237,237,237);
    font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
}
.wrapper
{
    width:100%;
    margin:auto;
}

.content
{
    width:100%;
    
    background-color:rgb(225,225,225);
    background-image:url("img/wall.jpg"); 
    
    border-radius:5px 5px 5px 5px;
    float:left;
    margin-top:0px;
    margin-bottom:08px;
    min-height:536px;
}

.content_about {
    width: 100%;
    
    background-color: rgb(225,225,225);
    background-image: url("img/about.jpg");
    border: 1px solid rgb(224,224,224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 536px;
}

.menu{
    background-color:rgb(10,110,170);
    width:100%;
    margin:0px 0px 7px;
    height:40px;
    color:rgb(243,243,243);
   
    border-radius:5px 5px 5px 5px;
}
.navigation_first_item{
    border-left:0px;
    border-radius:5px 5px 5px 5px;
}
.navitem_s{
    float:left;
    border-right:1px solid rgb(10,85,125);
    border-left:1px solid rgb(67,153,200);
    height:40px;
    background-color:rgb(14,79,114);
}


.menu ul li{
    float:left;
    display:block;
    list-style:none;
    border-right:1px solid rgb(10,85,125);
    border-left:1px solid rgb(67,153,200);
}


.menu ul li.navigation_first_item:hover{
    border-radius:10px 10px 10px 10px;
}

.menu ul li a{
    font-size:13px;
    font-weight:bold;
    line-height:40px;
    padding:8px 20px;
    color:rgb(255,255,255);
    text-decoration:none;
}

.menu ul li:hover {
    background-color: rgb(14,79,114);
    border-right: 1px solid rgb(14,89,130);
}
.clear{
    clear:both;
}
.tton {
    position:relative;
    width:150px;
    top: 100px;
    right: -250px;
    border: 5px;
    outline:none;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.tton:hover, .tton:focus {
    background: #179b77;
    color: floralwhite;
}
.signout {
    
    position: absolute;
    width: 130px;
    height:25px;
    top: 100px;
    right:100px;
    border: 5px;
    outline: none;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

    .signout:hover, .signout:focus {
        background: #179b77;
        color: floralwhite;
    }
.footer{
    height:50px;
    background-color:rgb(10,110,170);
    color:rgb(255,255,255);
    border-radius:5px 5px 5px 5px;
}
.footer  h2{
    padding:15px;
    text-align:center;
}
.men ul li {
    float: right;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    list-style: none;
}
