﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="user.aspx.cs" Inherits="user" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <link href="style1.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">

       <asp:Button  ID="Button1" class="signout" runat="server" OnClick="Button1_Click" Text="SIGN OUT" />

                    <p style="font-size:90px; padding-top:70px; padding-left:40px; color:cornsilk;font-family:'Times New Roman';" >WELCOME&nbsp;&nbsp;  BACK&nbsp;&nbsp;&nbsp;    
                        <asp:Label  ID="Label1"   runat="server" Font-Bold="True" Font-Size="60pt" ForeColor="White"></asp:Label>
                    </p>
                    
                        <p style="font-size:45px; padding-top:110px; padding-left:180px; color:cornsilk;font-family:'Times New Roman';" >Your water usage in liters till date is     
                        <asp:Label  ID="Label2"   runat="server" Text=""></asp:Label>
                    </p>
                            <p style="font-size:45px; padding-top:70px; padding-left:180px; color:cornsilk;font-family:'Times New Roman';" >Your water usage bill till date is     
                        <asp:Label  ID="Label3"   runat="server" Text=""></asp:Label>
                    </p>

                       


</asp:Content>

